# ---
# http_interactions:
  request:
    method: post
    uri: https://www.alsoenergy.com/WebAPI/WebAPI.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:als="alsoenergy_ns"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:als1="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data"><soapenv:Body><als:GetSiteHardwareList><als:sessionID>SESSION_ID</als:sessionID><als:siteID>SITE_ID</als:siteID></als:GetSiteHardwareList></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"alsoenergy_ns/WebAPI/GetSiteHardwareList"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetSiteHardwareListResponse
        xmlns="alsoenergy_ns"><GetSiteHardwareListResult xmlns:a="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:Code>4000</a:Code><a:Description
        i:nil="true"/><a:StringCode>AuthenticationFailed</a:StringCode><a:HardwareList
        i:nil="true"/></GetSiteHardwareListResult></GetSiteHardwareListResponse></s:Body></s:Envelope>
#     http_version:
#   recorded_at: Thu, 24 Sep 2015 19:42:18 GMT
# recorded_with: VCR 2.9.3
