# ---
# http_interactions:
  request:
    method: post
    uri: https://www.alsoenergy.com/WebAPI/WebAPI.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:als="alsoenergy_ns"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:als1="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data"><soapenv:Body><als:GetBinData><als:sessionID>SESSION_ID</als:sessionID><als:fromLocal>START</als:fromLocal><als:toLocal>END</als:toLocal><als:binSize>BIN</als:binSize><als:Fields><als1:DataField><als1:FieldName>UNIT</als1:FieldName><als1:Function>FUNC</als1:Function><als1:HID>HID</als1:HID></als1:DataField></als:Fields></als:GetBinData></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"alsoenergy_ns/WebAPI/GetBinData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetBinDataResponse
        xmlns="alsoenergy_ns"><GetBinDataResult xmlns:a="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:Code>200</a:Code><a:Description
        i:nil="true"/><a:StringCode>OK</a:StringCode><a:DataSet><a:DataBin><a:Data
        xmlns:b="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><b:float>140.169449</b:float></a:Data><a:Timestamp>2015-08-29T00:00:00.000Z</a:Timestamp></a:DataBin></a:DataSet></GetBinDataResult></GetBinDataResponse></s:Body></s:Envelope>
#     http_version:
#   recorded_at: Wed, 30 Sep 2015 00:00:42 GMT
# recorded_with: VCR 2.9.3
