# ---
# http_interactions:
# - request:
#     method: get
#     uri: http://www.alsoenergy.com/WebAPI/WebAPI.svc?wsdl
#     body:
#       encoding: US-ASCII
#       string: ''
#     headers:
#       Accept-Encoding:
#       - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
#       Accept:
#       - "*/*"
#       User-Agent:
#       - Ruby
#   response:
#     status:
#       code: 200
#       message: OK
#     headers:
#       Content-Type:
#       - text/xml; charset=UTF-8
#       Vary:
#       - Accept-Encoding
#       Server:
#       - Microsoft-IIS/7.5
#       X-Powered-By:
#       - ASP.NET
#       Date:
#       - Mon, 21 Sep 2015 23:45:01 GMT
#       Content-Length:
#       - '2871'
#     body:
#       encoding: ASCII-8BIT
#       string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="WebAPI"
#         targetNamespace="alsoenergy_ns" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
#         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
#         xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
#         xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
#         xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
#         xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
#         xmlns:tns="alsoenergy_ns" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
#         xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsp:Policy
#         wsu:Id="BasicHttpBinding_WebAPI1_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
#         xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
#         RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:types><xsd:schema
#         targetNamespace="alsoenergy_ns/Imports"><xsd:import schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd0"
#         namespace="alsoenergy_ns"/><xsd:import schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd1"
#         namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
#         schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data"/><xsd:import
#         schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xsd:import
#         schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System"/></xsd:schema></wsdl:types><wsdl:message
#         name="WebAPI_Login_InputMessage"><wsdl:part name="parameters" element="tns:Login"/></wsdl:message><wsdl:message
#         name="WebAPI_Login_OutputMessage"><wsdl:part name="parameters" element="tns:LoginResponse"/></wsdl:message><wsdl:message
#         name="WebAPI_Logout_InputMessage"><wsdl:part name="parameters" element="tns:Logout"/></wsdl:message><wsdl:message
#         name="WebAPI_Logout_OutputMessage"><wsdl:part name="parameters" element="tns:LogoutResponse"/></wsdl:message><wsdl:message
#         name="WebAPI_GetSiteHardwareList_InputMessage"><wsdl:part name="parameters"
#         element="tns:GetSiteHardwareList"/></wsdl:message><wsdl:message name="WebAPI_GetSiteHardwareList_OutputMessage"><wsdl:part
#         name="parameters" element="tns:GetSiteHardwareListResponse"/></wsdl:message><wsdl:message
#         name="WebAPI_GetSummaryHardware_InputMessage"><wsdl:part name="parameters"
#         element="tns:GetSummaryHardware"/></wsdl:message><wsdl:message name="WebAPI_GetSummaryHardware_OutputMessage"><wsdl:part
#         name="parameters" element="tns:GetSummaryHardwareResponse"/></wsdl:message><wsdl:message
#         name="WebAPI_Get[...]
